.education {
  height: 30vh;
  margin: 20px;
  display: flex;
  gap: 10px;
}

.education__logo {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  text-align: center;
  transition: all 2s;
}
.education__content {
  font-size: large;
  line-height: 30px;
  width: 70%;
  transition: all 2s;
}

.education__logo:hover {
  transform: scale(0.9);
}

.education__content:hover {
  transform: translate(-10px, -10px);
}

.education__content .detail {
  padding-left: 34px;
}
@media all and (max-width: 500px) {
  .education {
    height: 70vh;
    flex-direction: column;
  }
  .education__content {
    width: 100%;
  }
  .education__logo {
    width: 100%;
  }
}
