.skills {
  height: 50vh;
  margin: 20px;
  display: flex;
  gap: 20px;
}

.skills__icon {
  text-align: center;
  font-weight: 400;
  width: 30%;
  transition: all 1s;
}
.skills__list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  transition: all 1s;
}
.list__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.skills__list img {
  width: 50px;
  border-radius: 2px;
  transition: all 1s;
}

.skills__list img:hover {
  transform: scale(1.1);
}

.skills__icon:hover {
  transform: scale(1.1);
}
.skills__list:hover {
  transform: translate(-10px, -10px);
}
@media all and (max-width: 500px) {
  .skills {
    flex-direction: column;
    height: 70vh;
  }
  .skills__icon {
    width: 100%;
  }
  .skills__list {
    width: 100%;
  }
}
