* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
.main__header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
}
